version: '3.9'
services:
  db:
    image: postgres:16
    env_file:
      - ./.env
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  backend:
    build:
      context: ./backend
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"
  frontend:
    build:
      context: ./frontend
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./frontend:/app
    env_file:
      - ./.env
      - ./frontend/.env.local
    depends_on:
      - backend
    ports:
      - "3000:3000"
volumes:
  postgres_data:
